@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    /*region Custom classnames*/
    .padding {

    }

    .no-focus {
        @apply
        focus:ring-0 focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 focus:ring-offset-0 focus:outline-none;
    }

    .metrics {
        @apply flex flex-row items-center gap-2.5;
    }
    /*endregion*/

    /*region Flex*/
    .flex--row {
        @apply flex flex-row;
    }

    .flex--col {
        @apply flex flex-col;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }

    .flex-row-center {
        @apply flex flex-row items-center justify-center;
    }

    .flex-col-center {
        @apply flex items-center justify-center flex-col;
    }

    .flex-center-between {
        @apply flex items-center justify-between;
    }

    .flex-col-center-between {
        @apply flex items-center justify-between flex-col;
    }

    .flex-start-center {
        @apply flex justify-start items-center;
    }

    .flex-start-between {
        @apply flex justify-between items-start;
    }

    .flex-start-around {
        @apply flex justify-around items-start;
    }

    .flex-row-between {
        @apply flex flex-row justify-between;
    }

    .flex-col-start {
        @apply flex flex-col items-start justify-start;
    }

    .flex-row-start {
        @apply flex flex-row items-start justify-start;
    }

    .flex-responsive {
        @apply flex flex-row max-sm:flex-col;
    }

    .flex-center-responsive {
        @apply flex items-center justify-center max-sm:flex-col;
    }

    .flex-center-between-responsive {
        @apply flex items-center justify-between max-sm:flex-col;
    }

    .flex-sm-col {
        @apply max-sm:flex-col;
    }

    .inline-flex-center {
        @apply inline-flex items-center justify-center;
    }

    .inline-flex-start {
        @apply inline-flex items-start justify-start;
    }
    /*endregion*/
}
